<html>
<head>
    <title>Help Page</title>

    <link rel='stylesheet'  href='../public/styles.css' />   
    <link rel="icon" href="../../public/img.jpg" type="image/icon type">
   
</head>
<body>
    {{>header}}
    {{title}}
    {{name}}
</body>
</html>