<html>
<head>    
    <title>Index Page</title>
 <!-- add icon link -->
        <!-- add icon link -->
         
     <script src="../../public/js/app.js" type=""></script>
        <link rel = "icon" href = "https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" 
        type = "image/x-icon"> 
    <link rel='stylesheet'  href='../public/styles.css' /> 
 </head>
<body>
    {{>header}}
    <h1 class="header">This is Index Page-HandleBars</h1>
    <form>

        <input type="text" placeholder ="Type text here"/>
        <button type = "submit" >Submit</button>

    </form>
</body>
</html>