<html>
<head>    
    <title>Index Page</title>
 <!-- add icon link -->
        {{!-- <link rel = "icon" href ="https://www.google.com/imgres?imgurl=https%3A%2F%2Ffreepngimg.com%2Fthumb%2Fiphone%2F58791-worldwide-conference-apple-laptop-pages-logo-developers.png&imgrefurl=https%3A%2F%2Ffreepngimg.com%2Fpng%2F58791-worldwide-conference-apple-laptop-pages-logo-developers&tbnid=Y0RY4NsP7LsNEM&vet=10CAMQxiAoAGoXChMI-KPclarI5gIVAAAAAB0AAAAAEAc..i&docid=YxCBiQ3uUZi_7M&w=803&h=985&itg=1&q=image%20logo%20%20download&hl=en&ved=0CAMQxiAoAGoXChMI-KPclarI5gIVAAAAAB0AAAAAEAc" type = "image/x-icon"> 
    <link rel='stylesheet'  href='../../public/styles.css' />     --}}
 </head>
<body>
    {{>header}}
    <h1 class="header">This is Product Page-HandleBars</h1>
</body>
</html>